.SectionThree{
    width: 80%;
    height: 700px;
    float: right;
}

.HeadHeadingGroc{
    width: 87%;
    height: 120px;
    float: right;
}

.SectionFive{
    width: 87%;
    height: 450px;
    float: right;
}

.Butt{
    border-radius: 5px;
    float: left;
    margin-left: 80%;
    margin-top: 10px;
    width: 250px;
    height: 45px;
    background-color: #DBAA2C !important;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.05);
    color:white;
}

.Butt:hover{
    background-color: #DBAA2C !important;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);

}