.SectionOne{
    width: 87%;
    height: 150px;
    float: right;
}

.HeadHeading{
    width: 87%;
    height: 100px;
    float: right;
}

.subSections{
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    width: 100%;
    height: 100px;
}

.subSection{
    display: inline-block;
    width: 33.33%;
    height: 50px;
    text-align: center;
}


