.SectionTwo{
    width: 43.5%;
    height: 700px;
    float: right;
}

.subSectionTwo{
    height: 210px;

}

.subSectionInfo{
    width: 48%;
    height: 100px;
    float: left;
    padding-left: 10px;
}